{% extends 'base.html.twig' %}

{% block title %}Manage Account!{% endblock %}

{% block body %}
    <h1>Manage Your Account</h1>
    <h4>{{ user.firstName }}</h4>
    <h4>{{ user.lastName }}</h4>
    <h4 class="mt-3">Styles:</h4>
    <div class="form-check">
        <label class="form-check-label">
            <input type="radio" class="form-check-input" name="optradio">Light
        </label>
    </div>
    <div class="form-check">
        <label class="form-check-label">
            <input type="radio" class="form-check-input" name="optradio">Dark
        </label>
    </div>
    <a><button class="btn btn-primary">Save</button></a>

    <h4 class="mt-3">Buying history: </h4>  
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Delivery type</th>
                <th>Date</th>
                <th>Price</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            {% for delivery in user.deliveries %}
                <tr>
                    <td>{{ delivery.id }}</td>
                    <td>{{ delivery.typeOfDelivery }}</td>
                    <td>{{ delivery.createdAt|date('m/d/Y') }}</td>
                    {% set sum = 0 %}    
                    {% set loopOutput %}               
                        {% for item in delivery.items %}            
                            {% set sum = sum + item.price %}        
                        {% endfor %}    
                    {% endset %}
                    <td>{{ sum }}zł</td>
                    <td>
                        <a target="_blank" href="{{ path('generate_pdf', {
                            id: delivery.id
                        }) }}">
                            <i class="fas fa-angle-double-right"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
