{% extends 'base.html.twig' %}

{% block title %}Delivery{% endblock %}

{% block body %}
    <h1>Delivery</h1>

    {{ form_start(deliveryForm) }}
    {{ form_row(deliveryForm.item) }}
    {{ form_row(deliveryForm.firstName) }}
    {{ form_row(deliveryForm.lastName) }}
    {{ form_row(deliveryForm.adressLine) }}
    {{ form_row(deliveryForm.postalCode) }}
    {{ form_row(deliveryForm.city) }}
    {{ form_row(deliveryForm.country) }}
    {{ form_row(deliveryForm.phoneNumber) }}
    <button class="btn btn-lg btn-primary btn-block">Buy!</button>
    {{ form_end(deliveryForm) }}

{% endblock %}