{% extends 'base.html.twig' %}

{% block title %}Cart{% endblock %}

{% block body %}
    {% if items %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Category</th>
                    <th scope="col">Price</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        <th scope="row">1</th>
                        <td>{{ item.title }}</td>
                        <td>{{ item.category }}</td>
                        <td>{{ item.price }}zł</td>
                        <td>
                            <a href="{{ path('item_delete_from_cart', {
                            id: item.id
                        }) }}" class="delete">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No items to display</p>
    {% endif %}
    <a href="{{ path('item_list') }}"><button class="btn btn-primary">Back to shop</button></a>
    <a href="{{ path('buy_item_delivery') }}"><button class="btn btn-primary float-right">Delivery</button></a>
{% endblock %}
