{% extends 'base.html.twig' %}

{% block title %}Buyed!{% endblock %}

{% block body %}
    <h3>You buyed:</h3>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Title</th>
                <th scope="col">Category</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            {% for item in delivery.items %}
                <tr>
                    <th scope="row">1</th>
                    <td>{{ item.title }}</td>
                    <td>{{ item.category }}</td>
                    <td>{{ item.price|number_format(2, '.', ',') }} zł</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('generate_pdf', {
                            id: delivery.id
                        }) }}" target="_blank"><button class="btn btn-primary float-left">Facture</button></a>
    <a href="{{ path('item_list') }}"><button class="btn btn-primary float-right">Back to shop</button></a>
{% endblock %}
