{% extends 'base.html.twig' %}

{% block title %}Shop{% endblock %}

{% block body %}
    {% if item %}
        <hr>
        <p>{{ item.title }}</p>
        <hr>
        <div class="row">
            <div class="col-md">
                <img src="{{item.imageUrl}}" width="500">
            </div>
            <div class="col-md">
                <p>{{ item.title }}</p>
                <p>{{ item.description }}</p>
                <p>{{ item.price }} zł</p>
                <button href="{{ path('item_add_to_cart', {id: item.id}) }}" class="btn btn-lg btn-primary btn-block" id="add-to-cart">Add to cart</button>
            </div>
        </div>
    {% else %}
        <p>No item to display, go back to home page</p>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/item_show.js') }}"></script>
{% endblock %}