{{ form_start(productForm) }}
    {{ form_row(productForm.title) }}
    {{ form_row(productForm.description) }}
    {{ form_row(productForm.price) }}
    {{ form_row(productForm.file, {
        attr: {
            'placeholder': 'Select an product image'
        }
    }) }}
    {{ form_row(productForm.category) }}
    {{ form_row(productForm.isVisible) }}
    <button type="submit" class="btn btn-primary float-right">{{ button_text }}</button>
{{ form_end(productForm) }}
