<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
    <div class="container">
        <a href="{{ path('item_list') }}" class="navbar-brand">WebShop</a>
        <button class="navbar-toggler" type="button"
                data-toggle="collapse" data-targer="#mobile-nav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mobile-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="{{ path('item_list') }}" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <button class="btn btn-dark bg-primary dropdown-toggle" style="border: 0px; margin-top: 2px" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Categories
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="/category/SHOES">Shoes</a>
                            <a class="dropdown-item" href="/category/TSHIRT">T-Shirts</a>
                            <a class="dropdown-item" href="/category/JACKET">Jackets</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_contact') }}" class="nav-link">Contact us</a>
                </li>
                <li class="nav-item">

                {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a href="{{ path('admin_item_list') }}" class="nav-link">Panel</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_account') }}" class="nav-link">My Account</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_logout') }}" class="nav-link">Log out</a>
                </li>
                {% elseif app.user %}
                    <li class="nav-item">
                        <a href="{{ path('app_account') }}" class="nav-link">My Account</a>
                    </li>
                <li class="nav-item">
                    <a href="{{ path('app_logout') }}" class="nav-link">Log out</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="{{ path('app_login') }}" class="nav-link">Log in</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>